body {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#root {
  width: 50%;
}

.prototype, .prototype canvas {
  width: 100%;
}
