.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  height: 85px;
  justify-content: center;
  margin-bottom: 10px;
}

.App-header__title {
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.App-header__subtitle {
  color: lightgrey;
  font-size: 0.75em;
  margin: 0px;
}

.prototype canvas {
  width: 70%;
}

@media only screen and (max-width: 736px) {
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
  }
  .App-header {
    display: none;
  }

  .prototype canvas {
    width: 100%;
  }
}
